:root {
	/* --clr-accent: hsl(283, 70%, 45%); */
	--clr-accent: hsl(159, 80%, 40%);
	font-size: 16px;
}

* {
	font-family: "Oswald", "Roboto", sans-serif;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	background-color: hsl(0, 0%, 90%);
}

h1 {
	font-size: 2.3rem;
}

p {
	line-height: 1.5;
	font-size: 1.2rem;
}

.container {
	padding: 50px 0;
}

.row {
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	padding: 0 12px;
	text-align: center;
}

.flex-1 {
	flex: 1;
}

.about_info,
#languages .container,
#projects,
#contact {
	height: 100vh;
}

section:nth-child(odd) {
	background-color: hsl(0, 0%, 87%) !important;
}

header {
	font-size: 1.7rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 5%;
	border-bottom: 2px solid var(--clr-accent);
}

.nav_link-list {
	display: flex;
	justify-content: space-between;
	width: 35vw;
	margin-right: 5vw;
	padding: 1vw;
	overflow: hidden;
}

li {
	list-style-type: none;
}

header .title {
	font-size: 2.5rem;
}

.link_hover {
	position: relative;
	transition: opacity 300ms ease;
}

.link_hover:after {
	content: "";
	position: absolute;
	height: 4px;
	width: 0;
	bottom: -3px;
	right: -3px;
	transform: skew(-60deg);
	background-color: var(--clr-accent);
	transition: all 300ms ease;
}

.link_hover:hover:after {
	width: 100%;
	left: -3px;
}

.link_hover:hover {
	cursor: pointer;
	opacity: 0.7;
}

.contact {
	padding: 1px 15px;
	background-color: var(--clr-accent);
	border-radius: 50px;
	color: white;
	transition: opacity 300ms ease;
}

.contact:hover {
	cursor: pointer;
	opacity: 0.7;
}

article h2 {
	padding-left: 5vw;
}

.about_info {
	display: flex;
	flex-direction: column;
}

.about_info_picture--mask {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0 10px 15px hsla(0, 0%, 0%, 0.7);
	margin: 30px 0px;
}

.about_info--picture {
	position: relative;
	left: -25px;
	top: -25px;
}

.about_info--container {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 600px;
	margin: 0 auto;
	text-align: center;
}

.about_info--intro {
	text-align: center;
	margin-bottom: 16px;
}

.about_info--body {
	margin-bottom: 16px;
}

.about_info--links {
	max-width: 300px;
	width: 100%;
}

.about_info--links ul {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.about_info--link {
	font-size: 2rem;
	color: #242424;
	padding: 0 16px;
	transition: all 300ms ease;
}

.about_info--link:hover {
	cursor: pointer;
	opacity: 0.7;
	transform: scale(1.25);
}

#wave {
	display: inline-block;
	animation: wave 600ms infinite ease-in-out;
}

@keyframes wave {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(25deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

#about {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

#about article p {
	max-width: 110ch;
	min-width: 80ch;
}

.skills-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	margin: 0 auto;
}

.language_img {
	width: 100%;
	max-width: 100px;
}

.language {
	width: 25%;
	display: flex;
	justify-content: center;
	position: relative;
}

.language_img--wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 25px 16px;
}

.language_img--wrapper img {
	width: 100%;
	max-width: 100px;
	transition: all 300ms;
}

.language:hover img {
	filter: brightness(80%);
	opacity: 0.86;
	transform: scale(0.85) translateY(-10px);
}

.language:hover {
	cursor: pointer;
}

#languages .container {
	display: flex;
	align-items: center;
}

.language_list {
	display: flex;
	justify-content: center;
	width: 100%;
	flex-wrap: wrap;
}

.language_name {
	position: absolute;
	bottom: 50px;
	transform: scale(1);
	transition: all 300ms;
	font-size: 1.3rem;
	opacity: 0;
	z-index: -1000;
}
.language:hover .language_name {
	transform: scale(1) translateY(50px);
	opacity: 1;
}

.highlight-text {
	color: var(--clr-accent);
}

.pop_up-container {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100vh;
	background: hsla(0, 0%, 0%, 0.1);
	box-shadow: 0 8px 32px 0 hsla(0, 0%, 0%, 0.4);
	backdrop-filter: blur(7px);
	transition: all 800ms ease-in-out;
	transform: translateY(-100%);
}

.pop_up-container.animate {
	display: block;
	transform: translateY(0);
}

.pop_up-container .row {
	background-color: hsl(0, 0%, 90%);
	border: 4px solid var(--clr-accent);
	padding: 30px;
	margin: auto;
	position: relative;
	top: 50%;
	overflow: hidden;
	transform: scale(0) translateY(100%);
	transition: all 0.5s 0.8s;
}

.row.animate {
	transform: scale(1) translateY(-50%);
}

.pop_up .language_img--wrapper {
	padding: 10px 0px 5px 0px;
	overflow: hidden;
	transform: translateY(-200%);
	transition: all 700ms 1300ms;
}

.pop_up-container.animate .language_img--wrapper {
	transform: translateY(0);
}

.pop_up-title {
	color: var(--clr-accent);
	margin-bottom: 0.5em;
	transform: translateX(300%);
	transition: all 700ms 1700ms;
}

.pop_up-container.animate .pop_up-title {
	transform: translateX(0);
}

.pop_up-body {
	text-align: left;
	position: relative;
	transform: translateY(200%);
	transition-timing-function: ease;
	transition-duration: 700ms;
	transition-delay: 1300ms;
}

.pop_up-body::first-line {
	font-weight: bold;
	font-size: 1.3rem;
}

.pop_up-body::first-letter {
	font-size: 3.7em;
	font-weight: 750;
	line-height: 1;
	float: left;
	padding: 0.1em 0.1em 0em 0em;
	color: var(--clr-accent);
}

.pop_up-container.animate .pop_up-body {
	transform: translateY(0);
}
