:root {
	/* --clr-accent: hsl(283, 70%, 45%); */
	--clr-accent: hsl(159, 80%, 40%);
	--clr-bg: hsl(0, 0%, 90%);
	font-size: 16px;
}

* {
	font-family: "Oswald", "Roboto", sans-serif;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	background-color: var(--clr-bg);
}

h1 {
	font-size: 2.3rem;
}

p {
	line-height: 1.5;
	font-size: 1.2rem;
}

.container {
	padding: 50px 0;
}

.row {
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	padding: 0 12px;
	text-align: center;
}

.flex-1 {
	flex: 1;
}

.main-section:nth-child(even) {
	background-color: hsl(0, 0%, 87%);
}

.main-section {
	min-height: 100vh;
}

.hidden {
	display: none;
}

header {
	font-size: 1.7rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 5%;
	border-bottom: 2px solid var(--clr-accent);
}

.nav_link-list {
	display: flex;
	justify-content: space-between;
	width: 35vw;
	margin-right: 5vw;
	padding: 1vw;
	overflow: hidden;
}

li {
	list-style-type: none;
}

header .title {
	font-size: 2.5rem;
}

.link_hover {
	position: relative;
	transition: opacity 300ms ease;
}

.link_hover:after {
	content: "";
	position: absolute;
	height: 4px;
	width: 0;
	bottom: -3px;
	right: -3px;
	transform: skew(-60deg);
	background-color: var(--clr-accent);
	transition: all 300ms ease;
}

.link_hover:hover:after {
	width: 100%;
	left: -3px;
}

.link_hover:hover {
	cursor: pointer;
	opacity: 0.7;
}

.contact {
	padding: 1px 15px;
	background-color: var(--clr-accent);
	border-radius: 50px;
	color: white;
	transition: opacity 300ms ease;
}

.contact:hover {
	cursor: pointer;
	opacity: 0.7;
}

.highlight-text {
	color: var(--clr-accent);
}
